<ng-container *ngIf="isDisplayErrorMessage()">
  <div class="error-message mb-block margin-0 animate__animated animate__fadeIn" [ngClass]="{ open: isOpen }">
    Error <span>{{ rule.displayName }}</span> {{ errorItem.message }}
    <span class="close-error" (click)="onClose()"><img src="assets/images/close.svg" alt="" /></span>
  </div>
</ng-container>
