<div class="rf-sell-product-btn">
  <p class="rf-btn-label"><span class="label-action orange">{{ 'IN_DELIVERY.UP_TITLE_ACTION' | translate }}</span></p>
  <button id="in-delivery-open-button" class="rf-btn rf-sell-btn disabled">
    <span class="rf-btn-logo-container">
      <img class="rf-btn-logo" src="/assets/logo.png"  alt="">
    </span>
    <span class="rf-btn-content">{{ 'IN_DELIVERY.LABEL' | translate }}</span>
  </button>
</div>
