<ng-container *ngIf="display === DISPLAY_ERROR">
  <ng-container *ngIf="isDisplayErrorMessage()">
    <div class="mt-3 mb-5 animate__animated animate__fadeIn" *ngIf="isOpen">
      <p class="password-strength mb-1">{{ errorItem.message }}</p>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="display === DISPLAY_SUCCESS">
  <ng-container *ngIf="rule.control.valid">
    <div class="mt-3 mb-5 animate__animated animate__fadeIn">
      <p class="password-strength mb-1">{{ rule.successMessage }}</p>
    </div>
  </ng-container>
</ng-container>
