<div class="rf-sell-product-btn">
  <p class="rf-btn-label"><span class="label-action">{{ 'RESELL.UP_TITLE_ACTION' | translate }}</span></p>
  <button id="resell-open-button" class="rf-btn rf-sell-btn" (click)="onClick()">
    <span class="rf-btn-logo-container">
      <img class="rf-btn-logo" src="/assets/logo.png"    alt="">
    </span>
    <span class="rf-btn-content">{{ 'RESELL.LABEL' | translate }}</span>
  </button>
  <!-- <ng-container *ngIf="priceEstimated.fetched">
    <p class="rf-sell-product-btn__sell-back-value">
      <a href="#">
        {{ 'RESELL.SELL_BACK' | translate }}: €{{ priceEstimated.result.middle_price }}&nbsp;
        <span class="rf-js-sdk-icon-information"></span>
      </a>
    </p>
  </ng-container> -->
</div>
