<div class="rf-sell-product-btn">
  <p class="rf-btn-label"></p>
  <button id="canceled-open-button" class="rf-btn rf-sell-btn disabled">
    <span class="rf-btn-logo-container">
      <img class="rf-btn-logo" src="/assets/logo.png"  alt="">
    </span>
    <span class="rf-btn-content">{{ 'CANCELED.LABEL' | translate }}</span>
  </button>
</div>
