<form [formGroup]="addBankAccountForm" (ngSubmit)="onSubmitHandler()" class="row">
  <!-- <div class="col-12">
    <div class="form-group has-clear-btn">
      <label class="label">Town or city</label>
      <input type="text" class="form-control" formControlName="city" required />
      <span class="clear-input" (click)="clearInput('city')"><img src="assets/images/close-2.svg" alt="clear" /></span>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group has-clear-btn">
      <label class="label">Postcode</label>
      <input type="text" class="form-control" formControlName="zip_code" required />
      <span class="clear-input" (click)="clearInput('zip_code')"><img src="assets/images/close-2.svg" alt="clear" /></span>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="label">Country</label>
      <select class="form-control input-sm" formControlName="country" required>
        <option *ngFor="let country of countries" value="{{ country.alpha2Code }}">{{ country.name }}</option>
      </select>
    </div>
  </div> -->
  <div class="col-12">
    <div class="form-group">
      <label class="label">Currency</label>
      <select class="form-control input-sm" (change)="changeCurrencies($event.target.value)" formControlName="currency" required>
        <option value="undefined">Select currency</option>
        <option *ngFor="let currency of currencies" value="{{ currency }}">{{ currency }}</option>
      </select>
    </div>
  </div>
  <!-- <div class="col-12">
    <div class="form-group">
      <label class="label">Router number</label>
      <input type="text" class="form-control" formControlName="routing_number" required />
    </div>
  </div> -->
  <div class="col-12" *ngIf="pickEur">
    <div class="form-group has-clear-btn">
      <label class="label">IBAN number</label>
      <input type="text" class="form-control" formControlName="iban_number" required />
      <span class="clear-input" (click)="clearInput('iban_number')"><img src="assets/images/close-2.svg" alt="clear" /></span>
    </div>
  </div>
  <div class="col-12" *ngIf="pickGbp">
    <div class="form-group has-clear-btn">
      <label class="label">Account number</label>
      <input type="text" class="form-control" formControlName="account_number" required />
      <span class="clear-input" (click)="clearInput('account_number')"><img src="assets/images/close-2.svg" alt="clear" /></span>
    </div>
  </div>
  <div class="col-12" *ngIf="pickGbp">
    <div class="form-group has-clear-btn">
      <label class="label">Sort code</label>
      <input type="text" class="form-control" formControlName="sort_code" required />
      <span class="clear-input" (click)="clearInput('sort_code')"><img src="assets/images/close-2.svg" alt="clear" /></span>
    </div>
  </div>
  <div class="form-group col-12" style="padding: 0 25px;">
    <!-- <validation-error-message #cityError [rule]="cityValidationRule"></validation-error-message> -->
    <!-- <validation-error-message #countryError [rule]="countryValidationRule"></validation-error-message> -->
    <!-- <validation-error-message #zipcodeError [rule]="zipcodeValidationRule"></validation-error-message> -->
    <validation-error-message #currencyError [rule]="currencyValidationRule"></validation-error-message>
    <validation-error-message #sortCodeError [rule]="sortCodeValidationRule"></validation-error-message>
    <!-- <validation-error-message #routerNumberError [rule]="routerNumberValidationRule"></validation-error-message> -->
    <validation-error-message #accountNumberError [rule]="accountNumberValidationRule"></validation-error-message>
    <validation-error-message #ibanNumberError [rule]="ibanNumberValidationRule"></validation-error-message>
  </div>

  <api-error-message [error]="apiError" (closed)="onCloseApiErrorMessage()"></api-error-message>
  <api-success-message
    [success]="apiSuccess"
    (closed)="onCloseApiSuccessMessage()"
    style="padding: 0 15px; width: 100%;"
  ></api-success-message>

  <div class="col-12 text-center pt-30 mpb-20">
    <div class="form-group" style="padding: 0;">
      <label class="label" *ngIf="isDisplayProcessing()">Processing...</label>
      <button
        type="submit"
        class="btn btn-lg btn-black mb-block mmb-0 add-bank-account-button"
        [disabled]="isDisableButton()"
        [title]="getTitleContent()"
      >
        {{ submitText }}
      </button>
    </div>
  </div>
</form>
