<ng-container *ngIf="isDisplayMessage()">
  <div class="error-message open mb-block margin-0 no-background animate__animated animate__fadeIn">
    Error <span>{{ error.message }}</span>
    <span class="close-error" (click)="onClose()"><img src="assets/images/close.svg" alt="" /></span>
  </div>
</ng-container>
