<div class="rf-sell-product-btn">
  <!-- <p class="rf-btn-label"><span class="label-action green">{{ 'SOLD.UP_TITLE_ACTION' | translate }}</span> {{ 'SOLD.UP_TITLE_SUB' | translate }}</p> -->
  <p class="rf-btn-label">
    <span class="label-action green">{{ 'SOLD.UP_TITLE_ACTION' | translate }}</span>
  </p>
  <button id="sold-open-button" class="rf-btn rf-sell-btn" (click)="onClick()">
    <span class="rf-btn-logo-container">
      <img class="rf-btn-logo" src="/assets/logo.png" alt="" />
    </span>
    <span class="rf-btn-content">{{ 'SOLD.LABEL' | translate }}</span>
  </button>
  <p class="rf-sell-product-btn__sell-back-value">
    {{ 'SOLD.SUB' | translate }}
  </p>
</div>
