<table style="height: 100vh; width: 100%" class="animate__animated animate__fadeIn">
  <tbody>
    <tr>
      <td class="align-middle text-center" style="font-size: 20px">Page not found, <a [routerLink]="['/']">click here to go back</a></td>
    </tr>
  </tbody>
</table>
