@charset "UTF-8";
@font-face {
  font-family: "Lato Medium";
  src: url("../fonts/Lato-Medium.eot");
  src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"); }
@font-face {
  font-family: "Lato Heavy";
  src: url("../fonts/Lato-Heavy.eot");
  src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff"); }
@font-face {
  font-family: "Butler Bold";
  src: url("../fonts/ButlerBold.eot");
  src: url("../fonts/ButlerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ButlerBold.woff2") format("woff2"), url("../fonts/ButlerBold.woff") format("woff"); }
@font-face {
  font-family: "Butler Regular";
  src: url("../fonts/Butler.woff2") format("woff2"), url("../fonts/Butler.woff") format("woff"); }
/* Base style */
html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  padding: 0px;
  background: #F9F9F9;
  color: #000; }

.btn {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  min-width: 308px;
  padding: 12px 15px;
  text-transform: uppercase;
  outline: 0px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  .btn.btn-black {
    background: #000;
    border-color: #000;
    color: #fff; }
    .btn.btn-black:focus, .btn.btn-black:hover {
      background: #000;
      border-color: #000;
      color: #fff;
      opacity: 0.9;
      -webkit-box-shadow: 0px 0px 8px #191919;
      -moz-box-shadow: 0px 0px 8px #191919;
      box-shadow: 0px 0px 8px #191919; }
    .btn.btn-black:focus {
      -webkit-box-shadow: 0px 0px 8px rgba(25, 25, 25, 0);
      -moz-box-shadow: 0px 0px 8px rgba(25, 25, 25, 0);
      box-shadow: 0px 0px 8px rgba(25, 25, 25, 0); }
  .btn.btn-black-border {
    background: #ffffff;
    border-color: #000;
    color: #000; }
    .btn.btn-black-border:focus, .btn.btn-black-border:hover {
      background: #000;
      border-color: #000;
      color: #fff;
      opacity: 0.9;
      -webkit-box-shadow: 0px 0px 8px #191919;
      -moz-box-shadow: 0px 0px 8px #191919;
      box-shadow: 0px 0px 8px #191919; }
    .btn.btn-black-border:focus {
      -webkit-box-shadow: 0px 0px 8px rgba(25, 25, 25, 0);
      -moz-box-shadow: 0px 0px 8px rgba(25, 25, 25, 0);
      box-shadow: 0px 0px 8px rgba(25, 25, 25, 0); }
  .btn.btn-black-border2 {
    background: rgba(255, 255, 255, 0.25);
    border-color: #000;
    color: #000; }
    .btn.btn-black-border2:focus, .btn.btn-black-border2:hover {
      background: #000;
      border-color: #000;
      color: #fff;
      opacity: 0.9;
      -webkit-box-shadow: 0px 0px 8px #191919;
      -moz-box-shadow: 0px 0px 8px #191919;
      box-shadow: 0px 0px 8px #191919; }
    .btn.btn-black-border2:focus {
      -webkit-box-shadow: 0px 0px 8px rgba(25, 25, 25, 0);
      -moz-box-shadow: 0px 0px 8px rgba(25, 25, 25, 0);
      box-shadow: 0px 0px 8px rgba(25, 25, 25, 0); }
  .btn.btn-black-border3 {
    background: rgba(255, 255, 255, 0.25);
    border-color: #000;
    color: #000; }
    .btn.btn-black-border3:focus, .btn.btn-black-border3:hover {
      background: rgba(255, 255, 255, 0.1);
      border-color: #000;
      color: #000;
      opacity: 0.9;
      -webkit-box-shadow: 0px 0px 8px #191919;
      -moz-box-shadow: 0px 0px 8px #191919;
      box-shadow: 0px 0px 8px #191919; }
    .btn.btn-black-border3:focus {
      -webkit-box-shadow: 0px 0px 8px rgba(25, 25, 25, 0);
      -moz-box-shadow: 0px 0px 8px rgba(25, 25, 25, 0);
      box-shadow: 0px 0px 8px rgba(25, 25, 25, 0); }
  .btn.btn-red-border {
    background: transparent;
    border-color: #C70032;
    color: #C70032; }
    .btn.btn-red-border:focus, .btn.btn-red-border:hover {
      background: #C70032;
      border-color: #C70032;
      color: #fff;
      opacity: 0.9;
      -webkit-box-shadow: 0px 0px 8px rgba(204, 25, 70, 0.35);
      -moz-box-shadow: 0px 0px 8px rgba(204, 25, 70, 0.35);
      box-shadow: 0px 0px 8px rgba(204, 25, 70, 0.35); }
    .btn.btn-red-border:focus {
      -webkit-box-shadow: 0px 0px 8px rgba(204, 25, 70, 0);
      -moz-box-shadow: 0px 0px 8px rgba(204, 25, 70, 0);
      box-shadow: 0px 0px 8px rgba(204, 25, 70, 0); }
  .btn.btn-lg {
    min-width: 375px; }
  .btn.btn-sm {
    min-width: 180px;
    text-transform: none;
    font-size: 1.2rem;
    font-weight: 500; }

.btn-block {
  margin-bottom: 15px;
  min-width: 0px !important; }

.btn-group2 .btn {
  margin-bottom: 12px; }

.btn-group3 .btn {
  margin: 0px 15px;
  margin-bottom: 10px; }

.btn.has-icon {
  position: relative; }
  .btn.has-icon img {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  font-weight: normal; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

a, a:hover {
  text-decoration: none;
  color: inherit; }

p {
  margin-bottom: 20px;
  color: #505050; }

.btn {
  font-size: 1.6rem; }

p, a, li {
  font-size: 1.3rem; }

::-moz-selection {
  color: #fff;
  background: #000; }

::selection {
  color: #fff;
  background: #000; }

.md-visible {
  display: none !important; }

.bg-grey {
  background-color: rgba(229, 229, 229, 0.8) !important; }

hr {
  border-top-color: #000; }

.sec-pad {
  padding: 50px 0px; }

.page-title {
  font-size: 5.4rem;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 65px;
  margin-top: 50px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  font-family: "Butler Bold"; }
  .page-title span {
    font-size: 3.2rem;
    display: block;
    margin-bottom: 24px; }

.sec-title-lg {
  font-size: 3rem;
  font-family: "Butler Bold";
  margin-bottom: 38px; }

.sec-title-lg-2 {
  font-size: 8rem;
  font-family: "Butler Bold";
  margin-bottom: 110px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1; }

.sec-title-lg-3 {
  font-size: 5.4rem;
  font-family: "Butler Regular";
  margin-bottom: 40px;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: normal; }

.has-border {
  position: relative;
  padding-bottom: 22px; }
  .has-border:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    border-bottom: 1px solid #000;
    margin-left: -17.5px;
    width: 35px; }

.sec-title {
  font-size: 2.4rem;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 60px;
  width: 100%;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  position: relative;
  padding-bottom: 20px; }
  .sec-title:before {
    content: "";
    width: 35px;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -17.5px; }
  .sec-title + p {
    font-size: 1.4rem;
    color: #505050;
    width: 100%;
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: -34px; }
  .sec-title.no-dash:before {
    display: none; }

.sec-title-2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 900; }

.title-sm {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 22px; }
  .title-sm.has-dash {
    padding-bottom: 20px;
    position: relative; }
    .title-sm.has-dash:before {
      content: "";
      width: 35px;
      height: 1px;
      background: #000;
      position: absolute;
      bottom: 0px;
      left: 50%;
      margin-left: -17.5px; }

.title-sm2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 10px; }

.form-control {
  border-color: #E7E7E7;
  height: 40px;
  border-radius: 0px;
  background: #fff;
  font-size: 1.3rem;
  font-family: "Lato Medium";
  padding-left: 12px;
  color: #505050; }
  .form-control:focus {
    border-color: #000;
    box-shadow: none; }
  .form-control::-webkit-input-placeholder {
    color: #B5B5B5; }
  .form-control:-ms-input-placeholder {
    color: #B5B5B5; }
  .form-control::placeholder {
    color: #B5B5B5; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb--10 {
  margin-bottom: -10px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mt--20 {
  margin-top: -20px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.has-left-arrow {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 740px; }
  .has-left-arrow .go-back {
    position: absolute;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.1rem;
    font-style: italic;
    text-decoration: underline;
    text-transform: initial;
    font-weight: 400; }
    .has-left-arrow .go-back img {
      width: 30px; }

.max-width-480 {
  width: 100%;
  max-width: 480px !important;
  margin-left: auto;
  margin-right: auto; }

.max-width-535 {
  width: 100%;
  max-width: 535px !important;
  margin-left: auto;
  margin-right: auto; }

.max-width-320 {
  width: 100%;
  max-width: 320px !important;
  margin-left: auto;
  margin-right: auto; }

.max-width-420 {
  width: 100%;
  max-width: 320px !important;
  margin-left: auto;
  margin-right: auto; }

.max-width-375 {
  width: 100%;
  max-width: 375px !important;
  margin-left: auto;
  margin-right: auto; }

.max-width-800 {
  width: 100%;
  max-width: 800px !important;
  margin-left: auto;
  margin-right: auto; }

.max-width-720 {
  width: 100%;
  max-width: 720px !important;
  margin-left: auto;
  margin-right: auto; }

hr {
  margin: 35px 0px; }

/* End Base style */
.navbar-light .navbar-toggler {
  border-color: transparent;
  color: #000; }
  .navbar-light .navbar-toggler:focus {
    outline: 0px;
    box-shadow: none; }
.navbar-light .navbar-toggler-icon {
  background-image: none;
  width: 30px;
  height: 30px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .navbar-light .navbar-toggler-icon span {
    position: relative;
    height: 4px;
    width: 100%;
    margin: 2px 0px;
    left: 0px;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s; }
.navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px; }
.navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -3px;
  left: 0px; }
.navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-of-type(2) {
  display: none; }

#top-header {
  background: #fff; }

#top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  background: #fff; }
  #top-nav .nav-head {
    padding: 35px 0px; }
  #top-nav .collapsable-nav {
    position: fixed;
    top: 100px;
    left: 0px;
    background: #fff;
    height: calc(100vh - 100px);
    overflow-y: auto;
    width: 100%;
    background: #F9F9F9;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  #top-nav .navbar-list {
    width: 310px;
    margin: auto;
    margin-top: 92px; }
    #top-nav .navbar-list .nav-item {
      text-align: center;
      margin-bottom: 45px; }
      #top-nav .navbar-list .nav-item .nav-link {
        font-size: 1.8rem;
        color: #000;
        text-transform: uppercase;
        position: relative;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
        display: inline-block;
        padding: 0px 11px; }
        #top-nav .navbar-list .nav-item .nav-link:before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          border-bottom: 1px solid #000;
          width: 63%;
          opacity: 0;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          transition: all 0.2s; }
      #top-nav .navbar-list .nav-item.active .nav-link:before, #top-nav .navbar-list .nav-item:hover .nav-link:before {
        opacity: 1; }
  #top-nav .nav-toggle .btn, #top-nav .nav-toggle .navbar-toggler {
    padding: 5px;
    width: 30px;
    outline: 0px;
    box-shadow: none;
    min-width: 0px;
    background: transparent;
    border: none; }
    #top-nav .nav-toggle .btn span, #top-nav .nav-toggle .navbar-toggler span {
      width: 20px;
      height: 2px;
      background: #000;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s; }
      #top-nav .nav-toggle .btn span:first-child, #top-nav .nav-toggle .navbar-toggler span:first-child {
        margin-bottom: 10px; }
  #top-nav.open {
    z-index: 99999; }
    #top-nav.open .collapsable-nav {
      opacity: 1;
      visibility: visible;
      z-index: 999;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s; }
    #top-nav.open .nav-toggle .btn span:first-child {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 6px; }
    #top-nav.open .nav-toggle .btn span:last-child {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 6px; }

.navbar-toggler {
  padding: 5px;
  width: 30px;
  outline: 0px;
  box-shadow: none;
  min-width: 0px;
  background: transparent;
  border: none; }
  .navbar-toggler span {
    width: 20px;
    height: 2px;
    background: #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s; }
    .navbar-toggler span:first-child {
      margin-bottom: 10px; }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 6px; }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 6px; }

.collapsable-nav::-webkit-scrollbar {
  display: none; }

.collapsable-nav {
  -ms-overflow-style: none; }

.bg-light {
  background-color: rgba(255, 255, 255, 0.5) !important; }

.navbar-light {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(216, 216, 216, 0.42); }
  .navbar-light .container-fluid {
    align-items: flex-end; }
  .navbar-light .navbar-nav .nav-item {
    margin: 0px 10px; }
    .navbar-light .navbar-nav .nav-item .nav-link {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 400;
      color: #000;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s;
      padding-bottom: 0px;
      margin-bottom: -1px; }
    .navbar-light .navbar-nav .nav-item:hover .nav-link {
      opacity: 0.7; }
  .navbar-light .navbar-brand {
    margin-right: 18px; }

.step-single {
  text-align: center;
  margin-bottom: 65px; }
  .step-single .thumb {
    margin-bottom: 15px; }
  .step-single h3 {
    font-family: "Lato Heavy";
    font-size: 1.2rem;
    color: #505050;
    line-height: 20px;
    text-transform: uppercase; }

a.login-cta {
  color: #000;
  font-size: 1.4rem;
  font-family: "Lato Medium";
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #000;
  margin: 18px 0px;
  margin-bottom: 30px; }

.featured-div {
  margin-bottom: 60px; }
  .featured-div .thumb {
    margin-bottom: 1.4rem; }
  .featured-div h3 {
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .featured-div p {
    width: 100%;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto; }

.collapsable-div {
  display: none; }

.collapseDivToggle {
  position: relative;
  padding-right: 20px; }
  .collapseDivToggle:before {
    content: url(../assets/images/arrowDown.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    right: 1px;
    margin-top: -2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }
  .collapseDivToggle.in:before {
    transform: translateY(-50%) rotate(180deg); }
  .collapseDivToggle.no-icon:before {
    display: none; }

.collapseDivToggleClose {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem; }

.has-collapsable-div.type-2 .collapseDivToggle {
  font-size: 1.2rem;
  font-weight: 700;
  display: block; }
  .has-collapsable-div.type-2 .collapseDivToggle.in {
    display: none; }

.tel-wrap select {
  width: 74px;
  margin-right: 8px; }
.tel-wrap input {
  flex: 1; }

.form-group {
  margin-bottom: 16px; }

textarea {
  min-height: 80px;
  max-width: 100%; }

.form-wrapper .form-group {
  padding: 0px 10px; }

.form-wrapper {
  width: 100%;
  max-width: 740px;
  margin: auto; }

select.form-control {
  -webkit-appearance: none;
  background-image: url(../assets/images/arrowDownGrey.svg);
  background-position: 91% center;
  background-repeat: no-repeat; }

label.label {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #505050; }

.custom-check {
  margin-bottom: 0px;
  cursor: pointer; }
  .custom-check span {
    position: relative;
    padding-left: 20px;
    font-size: 1.2rem;
    font-family: "Lato Medium";
    color: #000;
    display: block; }
    .custom-check span a {
      font-size: 1.2rem;
      text-decoration: underline; }
    .custom-check span:before {
      content: "";
      width: 14px;
      height: 15px;
      border: 1px solid #000;
      position: absolute;
      top: 0px;
      left: 0px; }
  .custom-check input[type="checkbox"] {
    display: none; }
    .custom-check input[type="checkbox"]:checked + span:after {
      content: "✓";
      position: absolute;
      top: -2px;
      left: 3px;
      font-size: 1.3rem; }

.form-text {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; }
  .form-text h3 {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 15px; }
  .form-text p {
    margin-bottom: 12px; }

.piece-input-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #E3E3E3; }
  .piece-input-wrap label {
    width: calc(100% - 85px);
    margin-bottom: 0px;
    font-size: 1.3rem;
    font-family: "Lato Medium"; }
  .piece-input-wrap .piece-input {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 85px;
    -webkit-align-items: center;
    align-items: center; }
    .piece-input-wrap .piece-input .pieceBtn {
      width: calc((100% - 46px) / 2);
      display: inline-block;
      text-align: center;
      cursor: pointer;
      font-size: 1.8rem; }
      .piece-input-wrap .piece-input .pieceBtn.disabled {
        cursor: not-allowed;
        color: #B5B5B5; }
    .piece-input-wrap .piece-input .form-control {
      width: 46px;
      padding-left: 2px;
      padding-right: 2px;
      text-align: center;
      background: transparent !important;
      border-color: transparent !important;
      font-size: 1.3rem;
      font-family: "Lato Medium"; }

.your-adress label {
  font-family: "Lato Heavy";
  font-size: 1rem;
  color: #505050;
  margin-bottom: 5px; }
.your-adress span, .your-adress a {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #505050;
  font-size: 1rem; }

.inline-datePicker {
  width: 100%;
  max-width: 480px;
  margin: auto; }
  .inline-datePicker .datepicker-inline {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 4px; }
  .inline-datePicker .datepicker-panel > ul:first-child {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 20px 0px; }
    .inline-datePicker .datepicker-panel > ul:first-child li[data-view="month current"] {
      font-size: 1.3rem;
      font-family: "Lato Medium";
      color: #000;
      position: relative;
      top: 3px; }
  .inline-datePicker .datepicker-panel > ul > li[data-view="month current"], .inline-datePicker .datepicker-panel > ul > li[data-view="year current"], .inline-datePicker .datepicker-panel > ul > li[data-view="years current"] {
    width: 100px; }
  .inline-datePicker ul[data-view="week"] {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .inline-datePicker ul[data-view="week"] li {
      width: 14%;
      text-align: center;
      font-size: 1.3rem;
      font-family: "Lato Medium";
      color: #000; }
  .inline-datePicker ul[data-view="days"] {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    .inline-datePicker ul[data-view="days"] li {
      width: 14%;
      text-align: center;
      font-size: 1.3rem;
      font-family: "Lato Medium";
      color: #000;
      padding: 6px 5px;
      height: auto; }
  .inline-datePicker .datepicker-panel > ul:after, .inline-datePicker .datepicker-panel > ul:before {
    display: none; }

.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
  background-color: #C3DBF6;
  border-radius: 2px;
  color: #000; }

li.highlighted[data-view="day"] {
  background-color: transparent !important; }

#cookies {
  position: fixed;
  z-index: 9999;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: #fff;
  padding: 15px 0px;
  display: none; }
  #cookies .close-cookies {
    position: absolute;
    top: 10px;
    right: 10px; }
  #cookies .cookies-button {
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid #000;
    min-width: 175px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer; }

.picktime-wrap {
  width: 100%;
  max-width: 480px;
  margin: auto;
  background: #E7E7E7;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 40px; }

.radio-btn-wrap {
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding-top: 20px; }

.custom-radio {
  margin-bottom: 0px;
  display: block;
  cursor: pointer; }
  .custom-radio div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #E7E7E7; }
    .custom-radio div span {
      display: inline-block;
      padding: 0px 30px;
      font-size: 1.9rem;
      font-family: "Lato Medium"; }
      .custom-radio div span:first-child {
        font-size: 1.4rem; }
        .custom-radio div span:first-child strong {
          font-weight: 900;
          font-size: 1.9rem;
          text-transform: uppercase; }
  .custom-radio input[type="radio"] {
    display: none; }
    .custom-radio input[type="radio"]:checked + div {
      background: #E7E7E7; }

.custom-check2 {
  margin-bottom: 0px;
  padding: 20px 15px;
  display: block; }
  .custom-check2 span {
    position: relative;
    padding-right: 30px;
    display: block;
    font-size: 10px;
    cursor: pointer; }
    .custom-check2 span:before {
      content: "";
      width: 20px;
      height: 20px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      background: #F7F7F7;
      border: 1px solid #AAAAAA;
      position: absolute;
      top: 50%;
      right: 0px;
      margin-top: -10px; }
  .custom-check2 input[type="checkbox"] {
    display: none; }
    .custom-check2 input[type="checkbox"]:checked + span:after {
      content: "✓";
      position: absolute;
      top: 28%;
      right: 3px;
      font-size: 1.6rem; }

.icon-div {
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px; }
  .icon-div img {
    height: 38px;
    margin-bottom: 30px; }
  .icon-div p {
    font-size: 1.3rem; }

.text-div {
  width: 100%;
  max-width: 480px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: -15px; }
  .text-div p {
    font-size: 1.4rem; }

.scheduled-table {
  margin-bottom: 30px; }
  .scheduled-table td, .scheduled-table th {
    vertical-align: top; }
  .scheduled-table thead th {
    background: #F6F6F6;
    border-bottom: none;
    border: 1px solid #E5E5E5;
    font-size: 1rem;
    padding-left: 10px;
    font-weight: 700; }
  .scheduled-table tbody th {
    width: 141px; }
  .scheduled-table tbody td, .scheduled-table tbody th {
    background: #F9F9F9;
    border: 1px solid #E5E5E5;
    font-size: 1rem;
    padding: 15px 10px;
    padding-top: 5px; }

.qr-quantity {
  margin-bottom: 45px; }
  .qr-quantity .left {
    width: 141px;
    text-align: center;
    padding: 10px;
    border: 1px solid #E5E5E5;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-right-color: transparent; }
    .qr-quantity .left img {
      max-width: 100%; }
  .qr-quantity .right {
    width: calc(100% - 141px); }
  .qr-quantity .table {
    margin-bottom: 0px; }
    .qr-quantity .table th {
      border: 1px solid #E5E5E5;
      border-bottom: none;
      font-size: 1rem;
      padding: 15px 10px;
      padding-top: 5px;
      font-weight: 700;
      background: #F6F6F6; }
      .qr-quantity .table th:last-child {
        text-align: center; }
    .qr-quantity .table td {
      border: 1px solid #E5E5E5;
      font-size: 1rem;
      padding: 15px 10px;
      padding-top: 5px; }
      .qr-quantity .table td:last-child {
        text-align: center; }

.wardrobe-single {
  background: #fff;
  height: calc(100% - 30px);
  margin-bottom: 30px;
  position: relative; }
  .wardrobe-single .w-tag {
    position: absolute;
    top: 20px;
    left: -10px;
    width: 96px;
    height: 30px;
    background: #fff;
    -webkit-border-radius: 0px 50px 50px 0px;
    -moz-border-radius: 0px 50px 50px 0px;
    border-radius: 0px 50px 50px 0px;
    padding: 7px 10px;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    .wardrobe-single .w-tag.cyan {
      color: #27BDE0; }
    .wardrobe-single .w-tag.red {
      color: #D0021B; }
    .wardrobe-single .w-tag.f-sm {
      font-size: 0.9rem; }
  .wardrobe-single .thumb {
    padding: 15px; }
    .wardrobe-single .thumb img {
      width: 100%;
      height: 171px;
      object-fit: cover; }
  .wardrobe-single .info {
    text-align: center;
    padding: 10px 15px;
    padding-top: 0px;
    padding-bottom: 0px; }
    .wardrobe-single .info p {
      min-height: 36px; }
    .wardrobe-single .info h3 {
      font-size: 1.8rem;
      font-weight: 400; }

.searched-slider {
  width: 100%;
  max-width: 825px;
  margin: auto;
  margin-bottom: 67px !important; }
  .searched-slider .slider-item {
    padding: 0px 8px; }
    .searched-slider .slider-item:focus {
      outline: 0px; }
    .searched-slider .slider-item a {
      display: block;
      background: #fff;
      padding: 5px; }
      .searched-slider .slider-item a:focus {
        outline: 0px; }
      .searched-slider .slider-item a img {
        height: 160px;
        width: 100%;
        object-fit: cover; }

.slick-dots li {
  margin: 0px; }

.slick-dots {
  bottom: -43px; }

.slider-wrap {
  position: relative; }

.s-credit {
  position: absolute;
  bottom: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9; }
  .s-credit p {
    margin-bottom: 0px;
    font-size: 1.4rem;
    font-weight: 900;
    text-align: center; }
    .s-credit p span {
      font-size: 1rem;
      display: block;
      font-weight: 400; }

.settings-wrap {
  width: 100%;
  max-width: 535px;
  margin: auto; }
  .settings-wrap h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900; }
    .settings-wrap h3 img {
      position: relative;
      top: -3px;
      margin-right: 10px; }

.settings-list {
  border: 1px solid #E7E7E7;
  margin-bottom: 35px; }
  .settings-list li {
    border-bottom: 1px solid #E7E7E7;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s; }
    .settings-list li:last-child {
      border-bottom-color: transparent; }
    .settings-list li a {
      display: block;
      padding: 18px 28px;
      font-size: 1.2rem;
      font-weight: 500;
      position: relative; }
      .settings-list li a:before {
        content: url(../assets/images/icons-nav-bar-back.png);
        position: absolute;
        top: 54%;
        right: 20px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
    .settings-list li:hover {
      background: #f7f7f7; }
  .settings-list.icon-left li a:before {
    content: url(../assets/images/arrow-left.svg); }
  .settings-list.icon-plus li a:before {
    content: url(../assets/images/icon-plus.svg); }

.id-input-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 30px 0px; }
  .id-input-wrap .fileinput-single {
    width: 160px;
    height: 110px;
    cursor: pointer;
    background: url(../assets/images/Icons-upload.svg) no-repeat center center;
    background-color: #F7F7F7;
    margin: 0px 8px;
    position: relative;
    margin-bottom: 30px; }
    .id-input-wrap .fileinput-single .tag {
      position: absolute;
      bottom: -30px;
      font-size: 12px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      text-transform: lowercase; }
  .id-input-wrap input[type="file"] {
    display: none; }

.otp-wrap {
  width: 100%;
  max-width: 276px;
  margin: auto; }
  .otp-wrap .form-control {
    width: 55px;
    height: 55px;
    margin: 0px 8px; }

.loc-wrap {
  width: 100%;
  max-width: 308px;
  margin: auto; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  height: 44px;
  padding-top: 6px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 10px;
  -webkit-appearance: none;
  background-image: url(../assets/images/arrowDownGrey.svg);
  background-position: 91% center;
  background-repeat: no-repeat;
  outline: 0px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none; }

.select2-dropdown {
  border: 1px solid #fff;
  border-radius: 0px; }

.select2-results__option {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #fff;
  color: #000; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f7f7f7; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #000;
  outline: 0px; }

.faq-wrap {
  padding-bottom: 100px; }

.faq-tabs .nav-tabs {
  border-bottom: none;
  -moz-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .faq-tabs .nav-tabs .nav-link {
    border: none;
    border-bottom: 1px solid #D8D8D8;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 8px 50px; }
    .faq-tabs .nav-tabs .nav-link.active {
      border-bottom-color: #000000;
      background-color: transparent; }
.faq-tabs .tab-pane {
  padding: 35px 0px; }
  .faq-tabs .tab-pane p, .faq-tabs .tab-pane li {
    font-size: 1.3rem;
    line-height: 1.8; }
  .faq-tabs .tab-pane ol {
    display: inline-block; }
    .faq-tabs .tab-pane ol li {
      padding-left: 15px; }

.sign-in, .sign-up {
  text-decoration: underline; }
  .sign-in:hover, .sign-up:hover {
    text-decoration: underline !important; }

.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
  background-color: #EFEFEF; }

.datepicker-panel {
  padding: 0px 10px; }

.page-title.margin-fix {
  margin-top: 10px;
  margin-bottom: 45px; }

.line-m0 hr {
  margin: 0px;
  border-top-color: #000; }

.voucher-stores {
  padding: 40px 0px; }
  .voucher-stores h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #505050; }
  .voucher-stores h4 {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase; }
  .voucher-stores ul {
    margin-bottom: 5px; }
    .voucher-stores ul li {
      line-height: 2; }
      .voucher-stores ul li a {
        text-decoration: underline;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s; }
        .voucher-stores ul li a:hover {
          opacity: 0.7; }

.wallet-settings.settings-list {
  margin-bottom: 40px; }
  .wallet-settings.settings-list li a:before {
    content: url(../assets/images/icon-plus2.svg); }

.no-border .form-control {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #D8D8D8;
  font-size: 2rem;
  padding-left: 0px;
  height: 46px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }
  .no-border .form-control:focus {
    background-color: #fff;
    padding-left: 15px;
    border-color: #d8d8d8; }
.no-border .label {
  font-size: 1.2rem;
  font-weight: normal;
  display: block; }
  .no-border .label a.input-edit {
    float: right;
    font-size: 1.3rem;
    font-weight: 700; }

.has-clear-btn {
  position: relative; }
  .has-clear-btn .clear-input {
    display: none;
    position: absolute;
    bottom: 12px;
    right: 20px;
    z-index: 9;
    cursor: pointer; }

.error-message {
  border: 1px solid #d8d8d8;
  padding: 19px;
  padding-left: 20px;
  background: #fff;
  margin: 0px 10px;
  font-family: "Lato Heavy";
  font-size: 1.4rem;
  color: #C70032;
  position: relative;
  padding-right: 50px;
  min-height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  display: none; }
  .error-message.open {
    display: block; }
  .error-message span {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #505050;
    margin: 0px 5px; }
  .error-message .close-error {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5; }
    .error-message .close-error img {
      width: 20px; }

#loginChange .modal-content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden; }
#loginChange .modal-body {
  padding: 25px;
  background: #f6f6f6; }
  #loginChange .modal-body h3 {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 20px; }
  #loginChange .modal-body p {
    margin-bottom: 0px; }
#loginChange .modal-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0px;
  background: #fafafa; }
  #loginChange .modal-footer .btn {
    font-family: "Lato", sans-serif;
    width: 50%;
    min-width: 0px;
    font-size: 14px;
    border: none;
    margin: 0px 0px;
    border-right: 1px solid rgba(125, 125, 125, 0.24);
    font-weight: 400; }
    #loginChange .modal-footer .btn:first-child {
      color: #4A90E2; }
    #loginChange .modal-footer .btn:last-child {
      color: #FF2A08; }
    #loginChange .modal-footer .btn:focus {
      outline: 0px;
      box-shadow: none; }

.c-accordian-single {
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; }
  .c-accordian-single .ac-trigger {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 18px 15px;
    padding-right: 30px;
    display: block;
    position: relative; }
    .c-accordian-single .ac-trigger:before {
      content: url(../assets/images/icon-angle-right.svg);
      position: absolute;
      top: 57%;
      right: 15px;
      -webkit-transform: translateY(-50%) rotate(0deg);
      -moz-transform: translateY(-50%) rotate(0deg);
      -ms-transform: translateY(-50%) rotate(0deg);
      transform: translateY(-50%) rotate(0deg);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s; }
    .c-accordian-single .ac-trigger.in:before {
      -webkit-transform: translateY(-50%) rotate(90deg);
      -moz-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
      transform: translateY(-50%) rotate(90deg); }
  .c-accordian-single .ac-body {
    padding: 20px 40px;
    line-height: 1.6;
    display: none; }
    .c-accordian-single .ac-body h3 {
      font-size: 1.3rem;
      margin-bottom: 6px;
      font-weight: 700; }
    .c-accordian-single .ac-body p {
      font-size: 1.2rem;
      color: #000;
      margin-bottom: 20px; }
      .c-accordian-single .ac-body p a {
        text-decoration: underline; }
    .c-accordian-single .ac-body ul, .c-accordian-single .ac-body ol {
      margin-bottom: 20px; }
    .c-accordian-single .ac-body ul {
      list-style: disc;
      padding-left: 40px; }

.login-form .form-group {
  padding: 0px; }
.login-form p {
  color: #000; }

.or {
  font-size: 1.6rem;
  color: #000;
  font-weight: 900;
  margin-bottom: 15px; }

.show-pw {
  font-size: 1.3rem;
  font-weight: 700;
  float: right; }

.otp-wrap .form-control {
  background-color: transparent; }

.text-sm {
  font-size: 1.2rem;
  color: #9A9A9A; }

.otp-form .error-message {
  background: transparent;
  border: none;
  margin: 0px; }

.slick-dots li button:before {
  font-size: 8px;
  width: 10px;
  opacity: 1;
  color: rgba(142, 142, 142, 0.5); }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #8e8e8e; }

.slick-dots li {
  width: 17px; }

.listing-top h2 {
  font-size: 1.8rem; }
.listing-top p {
  font-size: 1.2rem; }
.listing-top .searched-slider {
  margin-bottom: 50px !important; }
  .listing-top .searched-slider .slider-item {
    padding: 0px; }
    .listing-top .searched-slider .slider-item a img {
      height: 171px; }
.listing-top .slick-dots {
  bottom: -28px; }

.slick-prev, .slick-next {
  z-index: 9;
  opacity: 1;
  width: auto;
  height: auto; }

.slick-prev {
  left: -13px; }
  .slick-prev:before {
    content: url(../assets/images/angle-left-circle.svg); }

.slick-next {
  right: -3px; }
  .slick-next:before {
    content: url(../assets/images/angle-right-circle.svg); }

.white-box {
  background: #fff;
  padding: 15px;
  border: 1px solid #E5E5E5;
  margin-bottom: 30px; }
  .white-box p {
    font-size: 1.3rem;
    color: #4A4A4A; }
    .white-box p strong {
      font-weight: 700; }
    .white-box p span {
      font-weight: normal;
      font-family: "Lato Heavy"; }
  .white-box p:last-child {
    margin-bottom: 0px; }

.slider-input .form-group {
  width: 130px; }
  .slider-input .form-group:nth-of-type(2) {
    width: calc(100% - 260px); }
  .slider-input .form-group .form-control {
    font-size: 1.6rem;
    text-align: center;
    color: #000;
    font-weight: 900; }
    .slider-input .form-group .form-control:focus {
      font-weight: 400;
      border-color: #E7E7E7; }
  .slider-input .form-group .label {
    text-transform: uppercase;
    font-size: 1rem; }
.slider-input .or {
  margin-bottom: 26px;
  font-size: 1.2rem; }
.slider-input .has-clear-btn .clear-input {
  bottom: auto;
  top: 7px;
  right: 8px; }

.noUi-horizontal {
  margin-bottom: 15px;
  height: 8px;
  background: #E2E2E2;
  border-radius: 3px;
  border: 1px solid #E2E2E2;
  box-shadow: none; }

.noUi-connect {
  background: #000000; }

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  right: -10px;
  top: -8px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: 0px !important; }
  .noUi-horizontal .noUi-handle:before {
    display: none; }

.selling-price {
  color: #9B9B9B;
  font-size: 1.6rem;
  font-weight: 900; }

.sec-title + img {
  width: 171px;
  margin-bottom: 35px; }

.sec-about p {
  font-size: 1.4rem; }

.about-us-slider {
  width: 100%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  margin-bottom: 60px !important; }
  .about-us-slider .slider-item:focus {
    outline: 0px; }
  .about-us-slider .slider-item .title {
    font-size: 2.8rem;
    font-family: "Butler Bold";
    font-weight: normal;
    margin-bottom: 110px;
    color: #000;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    text-align: left; }
    .about-us-slider .slider-item .title span.no {
      display: block;
      width: 40px;
      border-bottom: 1px solid #000;
      font-size: 2rem;
      margin-bottom: 10px;
      font-family: "Butler Regular"; }
  .about-us-slider .slider-item p {
    font-size: 1.2rem;
    text-align: left; }
  .about-us-slider .slick-prev {
    bottom: 0px;
    right: 75px;
    left: auto;
    height: 48px;
    top: auto;
    transform: none;
    margin: 0px; }
    .about-us-slider .slick-prev[aria-disabled="true"] {
      display: none !important; }
    .about-us-slider .slick-prev:before {
      content: url(../assets/images/Icons-Prev.svg); }
  .about-us-slider .slick-next {
    height: 48px;
    bottom: 0px;
    right: 0px;
    left: auto;
    top: auto;
    transform: none;
    margin: 0px; }
    .about-us-slider .slick-next[aria-disabled="true"] {
      display: none !important; }
    .about-us-slider .slick-next:before {
      content: url(../assets/images/Icons-Next.svg); }

.slick-prev:before, .slick-next:before {
  opacity: 1; }

.terms-page h2 {
  font-size: 1.3rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000; }
  .terms-page h2 + p {
    margin-bottom: 30px; }
.terms-page h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #000000;
  padding-top: 15px; }
.terms-page p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #000000;
  line-height: 1.6; }
.terms-page .table {
  margin-bottom: 35px; }
  .terms-page .table th {
    font-size: 0.8rem;
    font-weight: 400;
    border: 1px solid #E5E5E5;
    background: #EFEFEF; }
  .terms-page .table td {
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid #E5E5E5; }
    .terms-page .table td:first-child {
      font-weight: 400; }
.terms-page .max-width-320 {
  margin-left: 0px; }
  .terms-page .max-width-320 .table th {
    font-weight: 700;
    font-size: 1.2rem; }
  .terms-page .max-width-320 .table td {
    font-weight: 400;
    font-size: 1.2rem;
    color: #505050; }

.pad-left-15 {
  padding-left: 15px; }

@media only screen and (min-width: 768px) {
  .tab-inner {
    display: block !important; } }
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1105px; } }
@media only screen and (max-width: 992px) {
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    padding: 0px;
    background: transparent;
    border-color: transparent; }

  div#navbarSupportedContent {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    z-index: 999999;
    background: #fff;
    min-height: calc(100vh - 66px); }

  .navbar-light .navbar-nav .nav-item .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #E3E3E3;
    font-size: 18px;
    font-family: "Lato Medium";
    text-align: center;
    font-size: 1.8rem;
    padding: 20px;
    font-family: "Lato Medium"; }
    .navbar-light .navbar-nav .nav-item .nav-link.sign-in, .navbar-light .navbar-nav .nav-item .nav-link.sign-up {
      background: #000;
      color: #fff;
      margin-bottom: 10px;
      padding: 11px;
      font-size: 1.4rem;
      font-weight: 700; }

  .navbar-light .navbar-nav {
    margin-top: 40px; }
    .navbar-light .navbar-nav.ml-auto {
      margin-top: 65px; }

  .wardrobe-single .thumb img {
    height: 238px; }

  .wardrobe-single .thumb img {
    height: 220px; }

  html {
    overflow-x: hidden; }

  .navbar-light .container-fluid {
    align-items: center; } }
@media only screen and (max-width: 767px) {
  #top-nav .nav-head {
    padding: 12px 0px; }
    #top-nav .nav-head .logo img {
      width: 88px; }

  #top-header {
    min-height: 50px; }

  #top-nav .collapsable-nav {
    top: 50px;
    height: calc(100vh - 50px); }

  #top-nav .navbar-list {
    width: 100%;
    margin-top: 50px; }

  #top-nav .navbar-list .nav-item .nav-link {
    font-size: 1.4rem; }

  #top-nav .navbar-list .nav-item {
    margin-bottom: 30px; }

  .step-single h3 {
    font-size: 1rem;
    line-height: 1.5; }

  .page-title {
    font-size: 2.8rem;
    margin-top: 0px; }

  .step-single img {
    height: 28px; }

  .featured-div {
    margin-bottom: 30px; }

  .featured-div p {
    max-width: 300px; }

  .sec-title {
    font-size: 1.6rem;
    margin-bottom: 35px;
    padding-bottom: 15px; }

  .form-group {
    margin-bottom: 15px; }

  .form-wrapper .label {
    display: none; }
  .form-wrapper .btn {
    width: 100%; }
  .form-wrapper.label-visible-mobile .label {
    display: block; }

  .mb-30 {
    margin-bottom: 15px !important; }

  .pt-30 {
    padding-top: 15px; }

  .form-text h3 {
    text-align: left; }

  .has-left-arrow .go-back {
    top: -8px;
    height: 43px; }

  .sec-title + p {
    margin-top: 0px; }

  .searched-slider .slider-item a img {
    height: auto; }

  .wardrobe-single {
    max-width: 245px;
    margin-left: auto;
    margin-right: auto; }

  .icon-div.type-2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .icon-div.type-2 img {
      width: 40px; }
    .icon-div.type-2 div {
      width: calc(100% - 40px);
      padding-left: 30px; }
      .icon-div.type-2 div h3, .icon-div.type-2 div p {
        text-align: left; }

  .btn.btn-sm {
    min-width: 160px; }

  .btn-group3 .btn {
    margin: 0px -2px;
    min-width: 0px;
    width: 50%; }

  .btn {
    font-size: 1.4rem; }

  .sec-title-lg {
    font-size: 20px;
    margin-bottom: 30px; }

  .has-border {
    padding-bottom: 15px; }

  .md-hidden {
    display: none !important; }

  .md-visible {
    display: block !important; }

  .faq-tabs .tab-pane {
    background: #fff;
    padding: 20px 20px;
    padding-top: 0px;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    .faq-tabs .tab-pane.fade:not(.show) {
      opacity: 1; }
    .faq-tabs .tab-pane .tab-inner {
      display: none; }

  .mb-tab-toggle {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 15px;
    padding-right: 30px;
    display: block;
    margin: 0px -15px;
    text-align: left;
    position: relative; }
    .mb-tab-toggle:before {
      content: url(../assets/images/icon-angle-right.svg);
      position: absolute;
      top: 57%;
      right: 15px;
      -webkit-transform: translateY(-50%) rotate(0deg);
      -moz-transform: translateY(-50%) rotate(0deg);
      -ms-transform: translateY(-50%) rotate(0deg);
      transform: translateY(-50%) rotate(0deg);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s; }
    .mb-tab-toggle.in:before {
      -webkit-transform: translateY(-50%) rotate(90deg);
      -moz-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
      transform: translateY(-50%) rotate(90deg); }

  .faq-tabs .tab-pane ol {
    padding-left: 20px; }

  .faq-wrap {
    background-color: transparent !important; }
    .faq-wrap .tab-inner.in {
      padding-bottom: 20px; }

  .btn.btn-lg {
    min-width: 0px; }

  .sec-pad {
    padding: 30px 0px; }

  .has-left-arrow .go-back span {
    display: none; }

  .inline-datePicker .datepicker-inline {
    padding-bottom: 10px;
    padding-top: 0px; }

  .inline-datePicker ul[data-view="days"] li {
    padding: 5px 5px; }

  .container {
    padding-right: 30px;
    padding-left: 30px; }

  .picktime-wrap {
    margin-bottom: 0px; }

  .form-wrapper .form-group {
    padding: 0px; }

  .icon-div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .icon-div img {
      margin-right: 22px;
      width: 38px !important;
      height: 38px !important; }
    .icon-div p {
      width: calc(100% - 60px);
      text-align: left;
      font-size: 1.2rem; }
    .icon-div h3 {
      text-align: left; }

  p {
    font-size: 1.2rem; }

  .icon-div.type-2 div {
    width: calc(100% - 60px); }
    .icon-div.type-2 div p {
      width: 100%; }

  .mb-block {
    max-width: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    width: 100%; }

  .page-title.margin-fix {
    margin-top: 0px; }

  .mpb-20 {
    padding-bottom: 20px; }

  .mb-hidden {
    display: none; }

  .mb-visible {
    display: block; }

  .voucher-stores {
    padding-top: 0px; }

  .voucher-stores h3, .voucher-stores ul li a, .voucher-stores h4 {
    font-size: 1.1rem; }

  .wallet-settings.settings-list {
    margin-bottom: 24px; }

  .sec-title + p {
    font-size: 1.2rem; }

  .sec-title {
    margin-bottom: 25px; }

  .has-left-arrow .go-back img {
    margin-left: -7px; }

  .error-message {
    margin: 0px;
    bottom: 45px;
    border: none; }

  .modal-sm {
    max-width: 300px;
    margin: auto; }

  .sec-pad {
    padding: 36px 0px; }

  .c-accordian-single .ac-body {
    padding: 15px; }

  .c-accordian-single .ac-body p a {
    word-break: break-all; }

  .searched-slider .slider-item {
    padding: 0px 2px; }

  .mpt-0 {
    padding-top: 0px; }

  .listing-top .searched-slider {
    max-width: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px !important; }

  .noUi-horizontal {
    max-width: 245px;
    margin-left: auto;
    margin-right: auto; }

  .mpb-30 {
    padding-bottom: 30px; }

  .mt--20 {
    margin-top: 0px !important; }

  .sec-title-lg-2 {
    font-size: 3.2rem;
    margin-bottom: 45px; }

  .sec-title + img {
    margin-bottom: 10px; }

  .sec-title-lg-3 {
    font-size: 3.2rem; }

  .terms-page .md-visible .table {
    margin-bottom: 15px; }

  .pad-left-15 {
    padding-left: 0px; } }
@media only screen and (max-width: 360px) {
  .btn {
    min-width: 280px; } }

/*# sourceMappingURL=style.css.map */
