<div class="rf-sell-product-btn">
  <!-- <p class="rf-btn-label"><span class="label-action blue">{{ 'SELLING.UP_TITLE_ACTION' | translate }}</span> {{ 'SELLING.UP_TITLE_SUB' | translate }}</p> -->
  <p class="rf-btn-label"><span class="label-action blue">{{ 'SELLING.UP_TITLE_ACTION' | translate }}</span></p>
  <button id="selling-open-button" class="rf-btn rf-sell-btn" (click)="onClick()">
    <span class="rf-btn-logo-container">
      <img class="rf-btn-logo" src="/assets/logo.png" alt="">
    </span>
    <span class="rf-btn-content">{{ 'SELLING.LABEL' | translate }}</span>
  </button>
  <p class="rf-sell-product-btn__sell-back-value">
    <!-- {{ 'SELLING.SUB' | translate }} -->
  </p>
</div>
