<div class="rf-sell-product-btn">
  <p class="rf-btn-label"><span class="label-action green">{{ 'PAYMENT_SENT.UP_TITLE_ACTION' | translate }}</span></p>
  <button id="payment-sent-open-button" class="rf-btn rf-sell-btn disabled">
    <span class="rf-btn-logo-container">
      <img class="rf-btn-logo" src="/assets/logo.png"    alt="">
    </span>
    <span class="rf-btn-content">{{ 'PAYMENT_SENT.LABEL' | translate }}</span>
  </button>
</div>
