<div class="rf-sell-product-btn">
  <p class="rf-btn-label"><span class="label-action orange">{{ 'PENDING_PAYMENT.UP_TITLE_ACTION' | translate }}</span></p>
  <button id="pending-payment-open-button" class="rf-btn rf-sell-btn disabled">
    <span class="rf-btn-logo-container">
      <img class="rf-btn-logo" src="/assets/logo.png"    alt="">
    </span>
   <span class="rf-btn-content"> {{ 'PENDING_PAYMENT.LABEL' | translate }} </span>
  </button>
</div>
