.password-strength {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
  color: #9b9b9b;
}
.country-phone-code {
  position: absolute;
  left: -100px;
  width: 20%;
  top: -5px;
}
