<div class="form-group country-phone-code">
  <label for="" style="color: #505050; font-size: 12px; margin-bottom: 10px">Country</label>
  <select class="form-control input-sm" name="country" (change)="valueChanged(item)" [(ngModel)]="item" required>
    <option value="">-- select --</option>
    <option *ngFor="let item of COUNTRIES" [ngValue]="item.callingCodes[0]">{{ item.name }}</option>
  </select>
</div>
