.orange{
  color: #ff8e06 !important;
}
.blue{
  color: #19caff !important;
}
.red{
  color: #dd3005 !important;
}
.green{
  color: #2ecc71 !important;
}
.rf-btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  padding: 8px 20px;
  color: #fff;
  background: #000;
  margin: 5px 0;
  border-radius: 1px;
  border: none;
  position: relative;
  font-size: 15px;
  width: 100%;
}
.rf-btn-content{
  width: calc(100% - 28px);
}

.rf-sell-product-btn__sell-back-value {
  text-align: left;
  font-weight: 400;
}

.rf-sell-product-btn__sell-back-value a,
.rf-status-product-btn__remove-link a {
  display: flex;
  align-items: center;
  justify-content: left;
  background: unset;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: underline;
}

.rf-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.rf-btn.rf-btn-pending {
  background-color: #3498db;
}

.rf-btn.rf-btn-success {
  background-color: #27ae60;
}

.rf-btn-label {
  color: #959595;
  min-height: 24px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  .label-action{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
  }
}

.rf-btn-logo-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 100%;
  padding: 0 14px;
  border-right: 1px solid;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.5);
  .rf-btn-logo {
    width: 10px;
  }
}
