<div class="rf-sell-product-btn">
  <p class="rf-btn-label"></p>
  <button id="waiting-open-button" class="rf-btn rf-sell-btn" (click)="onClick()">
    <span class="rf-btn-logo-container">
      <img class="rf-btn-logo" src="/assets/logo.png"    alt="">
    </span>
    <span class="rf-btn-content">{{ 'WAITING.LABEL' | translate }}</span>
  </button>
</div>
